
/*
    Container and leaflet
*/
body, html {
  height: 100%;
}


#mapid {
  height: 100%;
}


/*
    Icons stuff
*/
.icon-image {
    position: absolute;
    margin-left: -25px;
    margin-top: -25px;
}


.icon-label {
	position: absolute;
	top: -3px;
	left: 5px;
	font-weight: 900;
	font-size: 100%;
	color: black;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}


.room-labels {

}



/* 
    Pannels stuff

*/


.panel-header {
    font-size: 150%;
}

.map-selector-panel {
    position: absolute;
    top: 24px;
    left: 24px;
    padding: 12px;
    background: #0c0c0c;
    z-index: 1000;
    color: #cccccc;
}

.layer-panel {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 12px;
    background: #0c0c0c;
    z-index: 1000;
    color: #cccccc;
}


/*
    Cool radio button hacks
*/

.map-selector-content > label {
    display: block;
    cursor: pointer;
}

.map-selector-content [type=radio]:checked + span {
    font-weight: 900;
}

/* HIDE RADIO */
[type=radio].radio-hidden {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #22F;
}