/* FONTS */
@font-face {
    font-family: "Rodondo";
    src: url(resources/Rodondo.otf) format("OpenType");
}

.rw-title {
    font-family: "Rodondo";
    font-size: 6em;
    text-align: center;
    line-height: 75%;
}

.rw-bigtext {
    font-family: 'Segoe UI';
    font-size: 1.3125em;
    font-weight: 600;
}

.rw-text {
    font-family: 'Segoe UI';
    font-size: 1em;
    font-weight: 600;
}

/* RW BUTTON START */
@keyframes border-blinker {
    50% {
        border: 0.16em solid rgba(255,255,255,255);
    }
}

@keyframes flasher {
    0% {
        background-color: #A9A4B2; /* menu lightgray */
    }
}

.rw-button { /* button core */
    position: relative;
    box-sizing: content-box;
    border-radius: 0.8em;
    border: 0.16em solid rgba(255,255,255,0); /* for alpha fade */
    background-color: black;
    color: #A9A4B2; /* menu lightgray */
    width: 12em; /* hardcoded size, adjust transform of outline to get pretty pixels*/
    height: 2.4em;
    position: relative;
    margin: 0.2em;
}

    .rw-button:hover { /* on hover,  core border blinks, core fill flashes once */
        animation: border-blinker 0.5s linear infinite, flasher 0.3s;
        color: white;
    }

        .rw-button:hover:active { /* on click, core holds max color */
            animation: none;
            border: 0.16em solid rgba(255,255,255,255);
        }

    .rw-button::before { /* outline that expands */
        content: "";
        box-sizing: content-box;
        position: absolute;
        top: -0.12em; /* magic numbers, please fix me im so likely to break */
        left: -0.12em;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        border: 0.16em solid #A9A4B2; /* menu lightgray */
        transition: transform 0.3s, border 0.3s;
    }

        /* note: properly doing bump behaviour would require keyframe and then there's no easy way to have the animation play back on mouse out (requires javascript event handling it seems)*/
        .rw-button:hover::before {
            transform: scaleX(1.04) scaleY(1.2); /* adjust here */
            border: 0.16em solid white;
        }
/* RW BUTTON END */
/* RW CHECKBOX START */
.rw-checkbox {
    appearance: none;
    box-sizing: content-box;
    border-radius: 0.8em;
    border: 0.16em solid #A9A4B200;
    background-color: black;
    color: #A9A4B2; /* menu lightgray */
    width: 2.4em;
    height: 2.4em;
    position: relative;
    margin: 0.2em;
}
    .rw-checkbox:hover {
        animation: border-blinker 0.5s linear infinite, flasher 0.3s;
        color: white;
    }

    .rw-checkbox::before { /* outline that expands */
        content: "\2714";
        text-align: center;
        font-size: 1.6em;
        font-weight: 600;
        color: #A9A4B200;
        box-sizing: content-box;
        position: absolute;
        top: -0.08em; /* magic numbers, please fix me im so likely to break */
        left: -0.08em;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        border: 0.14em solid #A9A4B2; /* menu lightgray */
        transition: transform 0.3s, border 0.3s;
    }

        .rw-checkbox:hover::before {
            border: 0.136em solid white;
            transform: scaleX(1.2) scaleY(1.2);
            color: #A9A4B288;
        }

        .rw-checkbox:active::before {
            border: 0.136em solid white;
            transform: scaleX(1) scaleY(1);
            color: white;
        }

        .rw-checkbox:checked::before {
            border: 0.136em solid white;
            color: white;
        }

    .rw-checkbox + label {
        position: relative;
        bottom: 0.8em;
        left: 0.8em;
        padding-right: 0.8em;
        user-select: none;
    }
/* RW CHECKBOX END */